# Python
- Day1
- Day2
     - topic

### Python
#### Python 
##### Python

- **point1**
- ***point 2***

    - *point 3*
        - **sub1**

In [3]:
# input and output function
# output function
print("hello world")
print("python")

hello world
python

In [11]:
print("code",end =" ")
print("markdown")

code markdown

In [2]:
# input function
print("enter name")
a=input("  ")# same as scanf
print("your name is", a)

enter name
  y
your name is y

In [3]:
#variables are also called as identifiers
#rules -starts with alphabet
#doesnt starts with special characters except _
# should not start with digit

In [4]:
x=10# recognizes as int variable
type(x)# gives data type

int

In [6]:
y=12
x+y#operations can be done directly

22

In [8]:
# fundamental datatypes
#int float complex boolean 
#string-declared using " " or ' '
x=10
y=10.5# recognized as float
x+y
type(y)

float

In [14]:
# complex datatype
c=2+ 3j#space is must and j also
d=2+ 4j
print(c+d)#by default jupyter only gives output of last line..to get prevoius lines use print
type(c)

(4+7j)

complex

In [17]:
#type casting 
a=12.6
print("int(a)")
complex(a)# if imaginary value not specified it gives 0j

int(a)

(12.6+0j)

In [18]:
complex(3,4)#for complex datatype format

(3+4j)

In [23]:
#boolean values consists of only true or false 
a=True# T should be caps
type(a)

bool

In [24]:
#string
a="python"
b="p"
print(type(a))
print(type(b))#char or string both are strings in python

<class 'str'>
<class 'str'>

In [29]:
a="100"#quotes always indicates strings
print(type(a))
b=int(a)#type casting
print(type(b))
c=float(a)#converting string into int and float
print(type(c))
d=complex(a)
type(d)

<class 'str'>
<class 'int'>
<class 'float'>

complex

In [32]:
a="1234"#error of asked for length of integer
#quotes can be given to gvet length
len(a)

4

In [33]:
a=1234#digit count
len(str(a))#use str for length of an integer

4

# operaters
  ### arthematic operators
  ### +,-  ,  *  ,/,%,//,  **
       - //-floor division (round up to integer removes decimal part
       - **-exponent

In [34]:
123/4

30.75

In [35]:
123//4

30

In [36]:
3**2

9

In [38]:
a=28
b=6
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

34
22
168
4.666666666666667
4
4
481890304

# logical operators
  ### and ,or,not
     - returns true or false

In [46]:
x=12
y=6
print(x>=20 and y<10)#and

print(x>20 or y<=10)#or
print(not z)#x=12 is given we have already given value so gives false

False
True
False

# relational operators
 ### <, >,>=,==,!=
###### usually returns  True of False

In [47]:
x=28
y=6
print(x>y)
print(x>=y)
print(x<y)
print(x<=y)
print(x==y)
print(x!=y)

True
True
False
False
False
True

# membership operator
### in,not in

In [54]:
a="Python"
print("P" in a)# upper case P is present in a or not
print("p" in a)#lower case p is present in a or not
print("P" not in a)# P is not in a or there in a
print("z" not in a)

True
False
False
True

# conditional statements
### if(single condition) , else( two) , eilf(multiple conditions)
#### syntax given below:

In [ ]:
if condition:
    #statements 
    #one tap space shows its under if condtion .this gap is known as intendation and no usage of curly braces

In [3]:
#to check if number is even or odd
a=int(input("enter a number"))#given number is string we need to convert into integer and then check even or odd condition
type(a)
if (a%2==0):
    print("its even",a)#intendation is a must for else also
else:
    print("odd",a)0

enter a number268
its even 268

In [2]:
#to check whther the number is divisible by 3 and 5
a=int(input("enter a number"))
if (a%3==0 and a%5==0):
    print("yes",a)
else:
    print("no",a)

enter a number268
no 268

In [7]:
#to check if positive negative or zero
a=int(input("enter a number"))
if a>0:
    print("positive number")
elif a<0:
    print("negative")
else:
    print("its zero")

enter a number268
positive number

In [27]:
#to check whethenr a year is leap
n=int(input("enter n value"))
if n%4==0  or n%400==0 and n%100!=0:
    print("leap year")
else:
    print("not a leapy year")

enter n value2016
leap year

# loops
 ### while
 #### syntax:
   - while condition:
   
      - statements

In [1]:
#print numbers from 1 to n
n=int(input("enter n"))
i=1
while i<=n:
    print(i)
    i+=1#increment in python

enter n6
1
2
3
4
5
6